body{ 
    background:  #000430;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 50 px;
  }
  
  #todo-container{
    background: #171c48 ;
    width: 400 px;
    margin: 0 auto;
    border: 2 px solid #828dff;
    padding: 20 px;
    color: #fff;
    border-radius: 15 px;
  }
  
  #input-box{
    width: 200 px;
    padding: 10 px;
    border: 1 px solid #fff;
    border-radius: 5 px;
    margin-right: 5 px;
    font-size: 20 px;
  }
   
  #input-button{
    font-size: 20 px;
    cursor: pointer;
    transition: 0.4 s;
    padding: 10 px;
    border: none;
    border-radius: 5 px;
    background-color: #828dff;
  }
  
  .task button{
    background: #828dff;
    border-radius: 5 px;
    margin: 0 px 5 px;
    padding: 3 px 5 px;
    border: none;
    cursor: pointer;
    color: white;
    float: right;
  }
  
  hr{
    border: 1 px solid #0033ff;
  }
  
  #header{
    margin: 5 px;
    font-size: 20 px;
    text-align: center;
  }
  
  h1{
    margin-bottom: 20 px; 
  }
  
  #input-button:hover {
    background-color: #313990; 
  } 
  
  ul{
    list-style: none;
    padding: 0;
    margin-top: 20 px;
    text-align:left;
  }
  
  li {
    border: 1 px solid white;
    border-radius: 5 px;
    margin-bottom: 10 px;
    padding: 10 px;
    margin-top: 10 px;
  }
  
  .edit-btn, .delete-btn, .complete-btn{
    float: right;
    color:crimson;
    cursor: pointer;
    margin: 3 px 5 px;
    border: none;
    padding: 3 px 5 px;
    background: none;  
  } 
  
  .completed {
    text-decoration: line-through;
    color: gray;
    border: 1 px solid gray;
  }

  #img1{
    height: 20 px;
    margin: -7 px 3 px 3 px 4 px; 
  }
  
